services:
    captainhook:
        image: thecodingmachine/php:8.4-v5-cli
        container_name: squirrel_captainhook
        tty: true
        working_dir: /usr/src/app
        volumes:
            - ../..:/usr/src/app
        environment:
            # Basic config for CLI commands
            PHP_INI_ERROR_REPORTING: "E_ALL"
            PHP_INI_MEMORY_LIMIT: "1g"
            PHP_INI_MAX_EXECUTION_TIME: 3600
            # Enable Opcache + JIT
            PHP_INI_OPCACHE__ENABLE_CLI: 1
            PHP_INI_OPCACHE__MEMORY_CONSUMPTION: 256
            PHP_INI_OPCACHE__VALIDATE_TIMESTAMPS: 0
            PHP_INI_JIT_BUFFER_SIZE: "256m"